body {
  text-align: center;
  background-color: #011F3F;
}

#level-title{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}
.container{
  display: block;
  width: 50%;
  margin: auto;
}


.btn{
  display: inline-block;
  margin: 25px;
  border: 10px solid black;
  border-radius: 30px;
  height: 200px;
  width: 200px;
}

.game-over{
  background-color: red;
  opacity: 0.8;
}

.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}


.pressed{
  box-shadow: 0 0 20px white;
  background-color: grey;
}
